SERVER_PORT=8081
DB_URL=jdbc:mysql://127.0.0.1:3306/hmdp?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=change-me
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
IMAGE_UPLOAD_DIR=./data/images/
LOG_LEVEL=info
