SERVER_PORT=8081
DB_URL=jdbc:mysql://127.0.0.1:3306/hmdp?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=change-me
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
IMAGE_UPLOAD_DIR=./data/images/
MAX_UPLOAD_SIZE=5MB
MAX_UPLOAD_REQUEST_SIZE=6MB
LOG_LEVEL=info
SECKILL_CONSUMER_NAME=c1
SECKILL_MAX_RETRIES=5
SECKILL_RECONCILE_INITIAL_DELAY_MS=30000
SECKILL_RECONCILE_DELAY_MS=60000
SECKILL_RECONCILE_GRACE_MS=60000
SECKILL_RECONCILE_BATCH_SIZE=100
BLOG_LIKE_FLUSH_INITIAL_DELAY_MS=5000
BLOG_LIKE_FLUSH_DELAY_MS=1000
BLOG_LIKE_BATCH_SIZE=200
BLOG_LIKE_RECONCILE_INITIAL_DELAY_MS=30000
BLOG_LIKE_RECONCILE_DELAY_MS=60000
BLOG_LIKE_RECONCILE_INTERVAL_MS=600000
BLOG_LIKE_RECONCILE_BATCH_SIZE=200
BLOG_LIKE_SYNC_LOG_RETENTION_DAYS=7
BLOG_LIKE_SYNC_LOG_CLEANUP_CRON="0 30 3 * * ?"
